
.row{
    margin:0px;
}


#logo-container{
    margin:0px;
    padding:0px;
}
#logo{
    z-index: 1;
    position:relative;
    height: 100%;
    width:100%;
    padding:0px;
}

#logo img{
    width:100%;
}


#bubble{
z-index:2;
    position:absolute;
    left:60%;
    top:20%;
    font-family:'Balsamiq Sans';
    text-align:right;
text-transform: uppercase;
    color:pink;
    }

    #bubble span{
        padding-right: 15px;
    }

    .bubble {
        position: relative;
        width: 300px; 
        height: 173.21px;
        margin: 86.60px 0;
        background-color: #6b6b69;
        box-shadow: 0 0 25px pink;
        border-left: solid 5px #6b6b69;
        border-right: solid 5px #6b6b69;
      }
      
      .bubble:before,
      .bubble:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 212.13px;
        height: 212.13px;
        box-shadow: 0 0 25px pink;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 38.9340px;
        
      }
      
      .bubble:before {
        top: -106.0660px;
        border-top: solid 7.0711px #6b6b69;
        border-right: solid 7.0711px #6b6b69;
      }
      
      .bubble:after {
        bottom: -106.0660px;
        border-bottom: solid 7.0711px #6b6b69;
        border-left: solid 7.0711px #6b6b69;
      }

.bubble span {
    display: block;
    position: absolute;
    top:2.8867513459481287px;
    left: 0;
    width:290px;
    height:167.4316px;
    z-index: 2;
    background: inherit;
  }

 
.about-me{
    padding-top:20px;
    text-align:center;
}

.about-me-text{
    z-index:2;
    position:absolute;
    width:100%;
    text-transform: uppercase;
    color:#6b6b69;

}

.lashes{
    z-index:1;
    top:45%;
    position:relative;
}

.sketch-img img{
    margin:20px;
    border-radius: 50%;
    box-shadow:0 0 65px #fa8397dc;
    width:70%;
    
}



.treatments-heading{
    text-align: center;
}

.round-image{padding:10px;
    
}

.round-image img{
    text-align: center;
    width:77%;
    height:85%;
    border-radius:50%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.treatment-title{
    text-align:center;
    text-transform: uppercase;
}


.treatments{
    background-color: #6b6b69;
    color: pink;
    text-transform: uppercase;
    text-align: center;
    height:100px;
    
}





#footer{
    background-color: pink;
    text-align: center;
}

.footer-logo img{
    margin-top:10px;
    width:50%;
    border-radius:70%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}